:root{
  --special-color: tomato; 
  --second-color: purple;
  --light-color: white;
  --dark-color: black; 

}


.container{
    max-width: 900px;
    margin: 0 auto;
}
/* space is descendent selector */

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* space is descendent combinator */
nav ul li{
    flex: 1;
}

/* > is child combinator */
main > p{
    font-size: 1.25rem;
}

/* + is adjecent combinator  */
h2 + p{
background-color: var(--dark-color);
color: white;
padding: 1rem;
}

/* ~ is sibiling combinator */
.stars span:hover ~ span {
    opacity: .5;
}

.stars span {
    cursor: pointer;
/* [] is attribute selector */
}
a[href="#"]{
    color: tomato;
}

a[href^="http"]{
    border-left: 4px solid var(--special-color);
}
/* State related pseudo classes */
/* LoVe HAte */

nav a,
nav a:link,
nav a:visited{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform .5s;
}

nav a:hover,
nav a:focus{
    text-decoration: underline;
    transform: scale(1.4);
}

nav a:active{
    transform: scale(1.4) translateX(10px);
}

/* Pseudo element */
a[href$=".pdf"]::after{
    content: "\2913";
    font-size: 1.25rem;
    color: tomato;
}
h2+p::first-line{
    color: tomato;
}
h3+p::first-letter{
    background-color: rgb(40, 0, 220);
    color: white;
    padding: .25rem;
    margin: .10rem;
}
/* calc() function */
.google{
    display: block;
    background-color: lavender;
    width: calc(100% - 6rem - 4px );
    padding: 2rem;
    margin: 1rem;
    /* also there is a 4px border on the left */
}